/* targeting at div that is direct-child of the form */
form>div {
    margin-top: 20px;
}

/* button stylings */
/* this class gives the button styling */
.btn {
    text-decoration: none;
    color:white;
    padding: 4px 24px;
    margin: 0 8px;
    border-radius: 16px;
    display: inline-block;
}
/* this class gives the color styling */
.btn-register {
    background-color: rgb(247, 161, 0);
    border: 1px solid rgb(247, 161, 0);
}
/* create hover effect */
.btn-register:hover {
    background-color: rgb(213, 152, 39);
}

/* other button colors  */
.btn-submit {
    background-color: rgb(21, 130, 52);
    border: 1px solid rgb(21, 130, 52);
}
.btn-send {
    background-color: rgb(55, 47, 165);
    border: 1px solid rgb(55, 47, 165);
}