#article-header {
    text-align: center;
    /* padding: 50px; -- 50px applies to all 4 sides */ 
    /* padding: 20px 50px; -- 20px top/bottom, 50px left/right */
    padding: 0px 10px 50px;
}
#article-img {
    padding: 10px;
}
#article-info {
    padding: 50px;    
}
#article-info p {
    font-size: 1.2rem;
    line-height: 1.5;
}
.article-link {
    color:rgb(211, 28, 28);
    /* text-decoration: none; */
}