
/* by default : screen size from 0 to infinity */
body {
    background-color: red;
}

/* ipad setting : >768px */
/* from 768px to infinity */
@media screen and (min-width:768px) {
   body {
       background-color: yellow;
   }
}

/* ipad pro setting : > 992px */
@media screen and (min-width:992px) {
   body {
       background-color: green;
   }
}

/* laptop : >1200px */
@media screen and (min-width:1200px) {
   body {
       background-color: blue;
   }
}

/* bigger laptop/desktop : >1400px */
@media screen and (min-width:1400px) {
   body {
       background-color: blueviolet;
   }
}